<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <link rel="stylesheet" type="text/css" href="{% static 'upload/error.css' %}">

    
</head>
<body>
    <div class="site">
        <div class="sketch">
            <div class="bee-sketch red"></div>
            <div class="bee-sketch blue"></div>
        </div>
    
    <h1>404:
        <small>File Not selected,<a href="{% url 'upload_file' %}">Select File</a></small></h1>
       
    </div>
</body>
</html>
